[Desktop Entry]
Type=Application
Name=Bluetooth Wofi
Comment=Connect to paired devices
Exec=/home/mreblan/.local/bin/wofi-bluetooth
Icon=bluetooth
Terminal=false
Categories=Settings;Utility;
