[Desktop Entry]
Type=Application
Name=Theme
Comment=Switch system theme
Exec=/home/mreblan/.config/colors/menu_theme.sh
Icon=preferences-desktop-theme
Terminal=false
Categories=Settings;Utility;
