[Desktop Entry]
Type=Application
Name=NixOS Package Search
Comment=Switch system theme
Exec=/home/mreblan/.local/bin/wofi-nixos-search "librewolf"
Icon=system-search
Terminal=false
Categories=Settings;Utility;
