[Desktop Entry]
Type=Application
Name=NixOS Package Search
Comment=Switch system theme
Exec=BROWSER="librewolf" /home/mreblan/.local/bin/wofi-nixos-search
Icon=system-search
Terminal=false
Categories=Settings;Utility;
