@import "colors.css";

* {
  all: unset;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font";
  transition: 200ms;
}

trough highlight {
  background: @text;
}

scale trough {
  margin: 0rem 1rem;
  background-color: @base;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: @blue;
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @surface0;
  border: 1px solid @accent;
  border-radius: 5px;
  margin: 18px;
  background-color: @base;
  color: @text;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid @critical;
  box-shadow: inset 0 0 7px 0 @critical;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: @text;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: @surface2;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @text;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: @text;
  background-color: @surface0;
  box-shadow: inset 0 0 0 1px @surface1;
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @surface0;
  color: @text;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @aqua;
  color: @text;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @base;
  background-color: @red;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @orange;
  color: @base;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @red;
  color: @base;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @surface0 !important;
  border: 2px solid @accent !important;
  border-radius: 5px;
  margin: 18px;
  background-color: @base !important;
  color: @text !important;
  padding: 14px;
}

.control-center .widget-title > label {
  color: @text !important;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: @text !important;
  background-color: @surface0 !important;
  box-shadow: inset 0 0 0 1px @surface1 !important;
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px @surface1 !important;
  background-color: @surface2 !important;
  color: @text !important;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px @surface1 !important;
  background-color: @aqua !important;
  color: @base !important;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: @text !important;
  background-color: @surface0 !important;
  box-shadow: inset 0 0 0 1px @surface1 !important;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 @critical;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: @text !important;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: @surface2 !important;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: @text !important;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: @text !important;
  background-color: @base !important;
  box-shadow: inset 0 0 0 1px @surface1 !important;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px @surface1 !important;
  background-color: @surface0 !important;
  color: @text !important;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px @surface1 !important;
  background-color: @aqua !important;
  color: @text !important;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @base !important;
  background-color: @orange !important;
}

.close-button {
  border: 1px solid @purple;
  border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @red !important;
  color: @base !important;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @red !important;
  color: @base !important;
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px @surface1 !important;
  background-color: @surface2 !important;
  color: @text !important;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px @surface1 !important;
  background-color: @aqua !important;
  color: @text !important;
}

.notification.critical progress {
  background-color: @critical;
}

.notification.low progress,
.notification.normal progress {
  background-color: @blue;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: @surface0 !important;
  border: 1px solid @surface1 !important;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @surface0 !important;
}

.control-center-dnd slider {
  background: @surface1 !important;
  border-radius: 8px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @surface0 !important;
  border: 1px solid @surface1 !important;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @surface0 !important;
}

.widget-dnd > switch slider {
  background: @surface1 !important;
  border-radius: 8px;
  border: 1px solid @surface2 !important;
}

.widget-mpris .widget-mpris-player {
  background: @surface0 !important;
  padding: 7px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: @red;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: @surface0;
}

.control-center .widget-label > label {
  color: @text !important;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: @aqua !important;
}

.widget-volume trough highlight {
  background: @aqua !important;
}

.widget-backlight trough highlight {
  background: @yellow !important;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: @yellow !important;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
