@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: rgba(40, 40, 40, 0.85);
    border: 1px solid @surface1;
    border-radius: 0;
    margin: 0px 5px;
    padding: 0px 8px;
}

#custom-theme,
#custom-appmenu {
    color: @yellow;
    padding: 0 10px;
    margin: 0 4px;
}

#workspaces button {
    padding: 0 5px;
    color: @surface2;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background: @surface1;
    color: @yellow;
    border-radius: 5px;
}

#workspaces button.active { color: @yellow; }
#workspaces button.urgent {
    background-color: @critical;
    color: @base;
}

#pulseaudio  { color: @blue;   padding: 0 8px; }
#battery     { color: @green;  padding: 0 8px; }
#clock       { color: @text;   padding: 0 8px; }
#network     { color: @purple; padding: 0 8px; }
#cpu         { color: @orange; padding: 0 8px; }
#memory      { color: @aqua;   padding: 0 8px; }
#temperature { color: @yellow; padding: 0 8px; }
#tray        { color: @text;   padding: 0 8px; }
#language    { color: @yellow; padding: 0 8px; }
#bluetooth   { padding: 0 8px; }

#battery.charging, #battery.plugged { color: @green; }

#battery.critical:not(.charging) {
    background-color: @red;
    color: @base;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to { background-color: @base; color: @red; }
}

#custom-gpu {
    color: @orange;
}

#custom-exit {
    color: @red;
}

tooltip {
    background: @base;
    border: 1px solid @yellow;
    border-radius: 5px;
}
tooltip label { color: @text; }

#custom-media-skip-backward,
#custom-media-play-pause,
#custom-media-skip-forward {
    padding: 0 6px;
    color: @green;
}
