*:selected {
    background: transparent;
}

window {
  background-color: #282828;
}

* {
  font-family: "Jetbrains Mono";
  color: #ebdbb2;
}

#scroll {
  padding: 0.5rem;
}

#input {
  background-color: #3c3836;
  color: #ebdbb2;
  outline: none;
  box-shadow: none;
  border: 0.5px solid #d65d0e;
  border-radius: 0rem;
  font-size: 1rem;
  padding: 0.5rem;
}

#inner-box {
  margin: 0.5rem;
  font-size: 1rem;
}

#img {
  margin: 10px 10px;
}

#entry {
  border-radius: 0rem;
}

#entry:selected {
  background-color: #d79921;
  outline: none;
}

#text:selected {
  color: #282828;
}

